/*PAGES*/
@import './pages/login.css';
@import './pages/inicio.css';





/*COMPONENTS*/
@import './components/BtnsApartadoGeneral.css';
@import './components/PlantillaYBarraNavegacion.css';
@import './components/Formulario.css';
@import './components/SeleccionarRol.css';
@import './components/Tabla.css';
@import './components/Mensajes.css';
@import './components/ListasElegirCantidad.css';
@import './components/Texto.css';