* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: Arial, sans-serif;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 116px;
    background-color: #79272C;
    z-index: 1000;
}

.content {
    margin-top: 116px;
    padding: 20px;
}
