.rectanguloRojoFondoLogin {
    position: absolute;
    top: 50%;               
    left: 0;
    width: 100%;
    height: 50vh;           
    background-color: #79272C;
    z-index: -1;            
}

.fondoSuperio {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;      
    height: 50vh;     
    object-fit: cover; 
    z-index: -1;      
}

.rectanguloAmarillo {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    width: 22%;
    height: 500px;
    background: #FFB300;
    border-radius: 0 0 360px 360px;
    z-index: 2;

    display: flex;
    flex-direction: column;
    align-items: center;       /* centro horizontal */
    justify-content: flex-start; /* arriba hacia abajo */
    padding-top: 40px;  
}

.imagenIDMA {
    position: absolute;
    top: 5%;                    
    left: 50%;               
    transform: translateX(-50%); 
    width: 22%;                 
    z-index: 2;                 
}

.formularioLogin {
    width: 80%;     
    max-width: 250px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 45%;
}

.inputGroup {
    width: 100%;      
    position: relative;
}

.inputGroup input {
    width: 77%;
    height: 35px;       
    padding-left: 45px; 
    padding-right: 10px;
    
    border: 2px solid #fff;
    border-radius: 0;
    background: #fff;

    font-family: Poppins;
    font-size: 18px;
    color: #79272C;
}

.iconoInput {
    background-color: #fff;
    color: #79272C;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 28px;
}


.btnLogin {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: px;

    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-weight: 600;

    background-color: #79272C; 
    color: white;

    cursor: pointer;
    transition: 0.3s ease;
    margin-top: 5%;
}

.btnGoogle {
    margin-top: 60px;
    width: 80%;
    padding: 12px;
    border: 2px solid #4285F4;
    border-radius: 6px;

    background-color: #fff;
    color: #4285F4;

    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-weight: 600;

    cursor: pointer;
    transition: 0.3s ease;
    margin-top: 0;
}