.rectanguloRojoFondoLogin {
    position: absolute;
    top: 50%;               
    left: 0;
    width: 100%;
    height: 50vh;           
    background-color: #79272C;
    z-index: -1;            
}

.fondoSuperio {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;      
    height: 50vh;     
    object-fit: cover; 
    z-index: -1;      
}

.rectanguloAmarillo {
    position: absolute;
    top: 15%;                    
    left: 50%;                   
    transform: translate(-50%); 
    width: 22%;                 
    height: 500px;               
    background: #FFB300;         
    border-radius: 0 0 360px 360px; 
    z-index: 2;                  
}

.imagenIDMA {
    position: absolute;
    top: 5%;                    
    left: 50%;               
    transform: translateX(-50%); 
    width: 22%;                 
    z-index: 2;                 
}

.formularioLogin {
    position: absolute;        
    top: 50%;                  
    left: 50%;                 
    transform: translate(-50%, -50%); 
    width: 80%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    z-index: 2;
}

.formularioLogin input {
    padding: 10px;
    border-radius: 0;          
    border: 2px solid #ffffff; 
    background-color: #ffffff; 
    font-size: 12px;
    color: #79272C;          
}