
/* Contenedor principal */
.apartado-de-reportes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;   /* Alinear al inicio verticalmente */
    min-height: auto;             /* Ocupa toda la altura de la pantalla */            
    gap: 20px;                      /* Espacio entre botones */      
    color: #79272C;                 /* Color de letra general */
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 150px; 
    padding-bottom: 60px;
}

/* Botones principales */
.apartado-de-reportes button {
    width: 100%;                     /* Ocupa casi todo el ancho */
    max-width: auto;                /* Limite máximo en pantallas grandes */
    padding: 14px 0;                 /* Espacio interno vertical y horizontal */
    font-size: 16px;                  /* Tamaño inicial de letra */
    font-weight: bold;               
    color: #79272C;                  
    background-color: #FFB300;       
    border: none;                    
    border-radius: 0px;              
    cursor: pointer;                 
    transition: transform 0.2s;      
    font-family: 'Poppins', sans-serif;
    display: block;
    text-align: center;              
}

/* Hover efecto */
.apartado-de-reportes button:hover {
    transform: scale(1.01);
}


