/* Contenedor principal */
.apartado-general {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: auto;
    gap: 20px;
    color: #79272C;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 150px;
    padding-bottom: 60px;
}

/* --- Estilo unificado para button y a --- */

.apartado-general a.btn-boton {
    width: 100%;
    padding: 14px 0;
    font-size: 16px;
    font-weight: bold;
    color: #79272C;
    background-color: #FFB300;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    transition: transform 0.2s;
    font-family: 'Poppins', sans-serif;
    display: block;
    text-align: center;
    text-decoration: none;  /* Solo afecta a los <a> */
}

/* Hover */

.apartado-general a.btn-boton:hover {
    transform: scale(1.01);
}
