
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: "Poppins", sans-serif;
}

/* NAV */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px; /* altura solicitada */
    background-color: #79272C;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}

.nav-left{
    display: flex;
    align-items: center;
}

.nav-logo {
    height: 55px; 
    margin-left: 20px;
    object-fit: contain;
}

.nav-right {
    display:contents;
    align-items: center;
}

.logout-btn{
    height: 100%;
    display:flex;
    align-items: center;
    gap: 3px;

    background: transparent;
    border: none;
    cursor: pointer;
    color: white;

    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 500;

    padding: 10px 15px;
    transition: 0.2s ease-in-out;
}

.logout-icon {
    height: 20px;
    width: auto;
}

.logout-btn:hover {
    background-color: #FFB300;
    color: #79272C; /* texto cambia para contraste */
}

/* NAV SECUNDARIO */
.subnav {
    width: 100%;
    background-color: #FFB300;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 50px;
    position: fixed;
    top: 80px;
    z-index: 900;

    overflow-x: auto;       /* <--- permite desplazamiento horizontal */
    overflow-y: hidden;     /* <--- evita barras verticales */
    white-space: nowrap;    /* <--- evita que los botones salten de línea */
}

/* Lista */
.subnav-list {
    list-style: none;
    display: flex;
}

/* Botones */
.subnav-item {
    cursor: pointer;
    padding: 8px 15px;
    color: #79272C;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 500;
    transition: 0.2s ease-in-out;
    white-space: nowrap;
}

/* Hover */
.subnav-item:hover {
    background-color: #79272C;
    color: white;
}

.fondoInferior {
    position: fixed;
    top: 50%;
    left: 0;
    width: 100%;
    height: 50vh;
    object-fit: cover;
    z-index: -1; /* ✔ ahora no tapará botones */
    pointer-events: none; /* ✔ evita que bloquee el hover */
}


.subnav-item a {
    color: inherit;
    text-decoration: none;
    display: block;
    padding: 8px 15px;
}

.subnav-item a:hover {
    background-color: #79272C;
    color: white;
}