.contenedor-requisitos {
    width: 100%;
    border-radius: 8px;
    font-family: 'Poppins', sans-serif;
    color: #000;
    text-align: justify;

}

.titulo-requisitos {
    text-align: center;
    font-size: 22px;
    margin-bottom: 20px;
    font-weight: bold;
}

.lista-numerada {
    padding-left: 20px;
    font-size: 14px;
}

.lista-numerada > li {
    margin-bottom: 18px;
}

.lista-letras {
    list-style-type: lower-alpha;
    padding-left: 20px;
    margin-top: 10px;
}

.lista-letras li {
    margin-bottom: 8px;
}
