.contenedor-requisitos {
    width: 100%;
    border-radius: 8px;
    font-family: 'Poppins', sans-serif;
    color: #000;
    text-align: justify;

}

.titulo-requisitos {
    text-align: center;
    font-size: 22px;
    margin-bottom: 20px;
    font-weight: bold;
}

.lista-numerada {
    padding-left: 20px;
    font-size: 14px;
}

.lista-numerada > li {
    margin-bottom: 18px;
}

.lista-letras {
    list-style-type: lower-alpha;
    padding-left: 20px;
    margin-top: 10px;
}

.lista-letras li {
    margin-bottom: 8px;
}


.textoNormal {
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: justify;
}

.link-descarga {
    color: #094B88;
    font-weight: 600;
    text-decoration: none;
    margin-bottom: 20px;
}

.link-descarga:hover {
    text-decoration: underline;
}

/* Contenedor general */
.subir-documento {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 20px;

}

/* Label */
.label-documento {
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    color: #79272C;
    white-space: nowrap;
}

/* Contenedor del botón + nombre */
.contenedor-archivo {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Botón subir */
.boton-subir {
    padding: 8px 30px;
    font-size: 13px;
    font-weight: 600;
    color: #fff;
    background-color: #79272C;
    border: none;
    cursor: pointer;
}

.boton-subir:hover {
    background-color: #5f1f23;
}

/* Nombre del archivo */
.nombre-archivo {
    font-size: 14px;
    color: #79272C;
    white-space: nowrap;
}


.btn-ver {
    padding: 8px 30px;
    font-size: 13px;
    font-weight: 600;
    color: #79272C;              
    background-color: #FFB300;
    border: none;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}

.btn-ver:hover {
    background-color: #79272C;
    color: #fff;                
}


.textarea-grande {
    width: 60%;
    min-height: 90px;   /* altura */
    padding: 12px;
    font-size: 16px;
    resize: vertical;   /* permite crecer solo hacia abajo */
    border-radius: 6px;
    border: 1px solid #ccc;
    font-family: inherit;
}

@media (max-width: 768px) {

    .subir-documento {
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
    }

    .contenedor-archivo {
        flex-direction: row;
        gap: 8px;
    }

    .nombre-archivo {
        white-space: normal;
    }
}

/* =========================
   Tipografías reutilizables
========================= */

.texto-titulo-md {
    font-size: 18px;
    font-weight: 600;
}

.texto-meta {
    font-size: 14px;
    opacity: .85;
}

.texto-label {
    font-size: 14px;
    font-weight: 600;
    color: #79272C;
}

.texto-valor {
    font-size: 14px;
    color: #000;
}
